<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} {% endblock %} - Snaplost</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&display=swap" rel="stylesheet">
        <link href="{{ url_for('static', filename='style.css' )}}" rel="stylesheet">  

    </head>
    <body>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="{{ url_for('main.home') }}">Snaplost.</a>
                </div>

                <ul class="nav navbar-nav navbar-center">
                    <form class="navbar-form navbar-center" role="search">
                        <div class="form-group input-group">
                            <input type="text" class="form-control" placeholder="Search..">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>        
                        </div>
                    </form>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('main.dashboard') }}">Dashboard</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('item.create') }}">New Listing</a>
                        {% endif %}
                    </li> 
                    <li>
                        {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('auth.login') }}">Login</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if not current_user.is_authenticated %}
                        <a href="{{ url_for('auth.signup') }}">Sign Up</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.logout') }}">Logout</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('auth.settings') }}"> Settings </a>
                        {% endif %}
                    </li>
                </ul>

            </div>
            </div>
        </nav>

        <div class="container">   
            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
            {% block content %} {% endblock %}  
        </div>

        <script src=""https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    </body>
</html>
