{% extends 'base.html' %}

{% block content %}
<div class='page-header'>
    <h1> {% block title %} Create a New Listing {% endblock %} </h1>
</div>

<br>

<form method='post' enctype="multipart/form-data">
    <div class="form-group">
        <label for="category"> Category* </label>
        <select class="form-control" id="category" name="category">
            <option value="" selected disabled hidden>--Select Category--</option>
            <option value="lost">Lost</option>
            <option value="found">Found</option>
        </select>
    </div>


    <div class="form-group">
        <label for="item"> Item Name* </label>
        <input type="text" name="item"
               placeholder="Name the item" class="form-control"
               value="{{ request.form['item'] }}"> </input>
    </div>

    <div class="form-group">
        <div class="form-group">
            <label for="description">Item Description* </label>
            <textarea name="description" placeholder="Description"
                                     class="form-control">{{ request.form['description'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="date"> Date:* </label>
        <input type="date" id ="time" name="occurdate" value="{{ request.form['occurdate'] }}">
    </div>
   
    <div class="form-group">
        <label for="time"> Time:* </label>
        <input type="time" id ="time" name="time" value="{{ request.form['time'] }}">
        <span class="help-block">You can provide a rough estimation of the time when the item is found or lost.</span>
    </div>

    <div class="form-group">
        <label for="number"> Number: </label>
        <input type="text" id ="number" name="number" value="{{ request.form['number'] }}">
        <span class="help-block">If you wish to be contacted by your phone number, please include it here.</span>
    </div>

    <div class="form-group">
        <label for="photo">Upload image: </label>
        <input type="file" id="photo" name="photo" accept="image/*" }}">
    </div>
    
    <div class="form-group">
        <h6 style="color:red"> *Indicates required field </h6>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
