{% extends 'base.html' %}


{% block content %}

<div class='page-header'>
<h1> {% block title %} Edit {{ item['item'] }} {% endblock %} </h1>
</div>

<br>
<form method='post'>
    <div class="form-group">
        <label for="category"> Category* </label>
        <select class="form-control" id="category" name="category">
            <option value="" selected disabled hidden>--Select Category--</option>
            <option value="lost">Lost</option>
            <option value="found">Found</option>
        </select>
    </div>


    <div class="form-group">
        <label for="item"> Item Name* </label>
        <input type="text" name="item"
               placeholder="Name the item" class="form-control"
               value="{{ request.form['item'] or item['item'] }}"> </input>
    </div>

    <div class="form-group">
        <div class="form-group">
            <label for="description">Item Description*</label>
            <textarea name="description" placeholder="Description"
                                     class="form-control">{{ request.form['content'] or item['description'] }}</textarea>
    </div>

    <div class="form-group">
        <label for="occurdate"> Date:* </label>
        <input type="date" id ="occurdate" name="occurdate" value="{{ request.form['occurdate'] or item['occurdate'] }}">
    </div>

    <div class="form-group">
        <label for="time"> Time:* </label>
        <input type="time" id="time" name="time" value="{{ request.form['time'] or item['time'] }}">
        <span class="help-block">You can provide a rough estimation of the time when the item is found or lost.</span>
    </div>

    <div class="form-group">
        <label for="number"> Number: </label>
        <input type="text" id ="number" name="number" value="{{ request.form['number'] or item['number'] }}">
        <span class="help-block">If you wish to be contacted by your phone number, please include it here.</span>
    </div>


    <div class="form-group" action="/action_page.php">
        <label for="photo">Upload image: </label>
        <input type="file" id="photo" name="photo" accept="image/*" value="{{ request.form['photo'] or item['photo'] }}">
    </div>

    <div class="form-group">
        <h6 style="color:red"> *Indicates required field </h6>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<hr>

<form action="{{ url_for('item.delete', item_id=item['id']) }}" method="POST">
    <input type="submit" value="Delete Listing"
                         class="btn btn-danger btn-sm"
                         onclick="return confirm('Are you sure you want to delete this post?')">
</form>

{% endblock %}
