{% extends 'base.html' %}

{% block title %} Snaplost HomePage {% endblock %} 

{% block content %}
    <div class = container">
        <div class="row">
        {% for item in items %}
            <a href = "{{ url_for('item.listing', listing_id=item['id']) }}">
                <div class="col-sm-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{ item['item'] }}</div>
                        <div class="panel-body"><img src={{ item['photo'] }} class="img-responsive" style="width:100%" alt="Image"></div>
                    </div>
                </div>  
            </a>
        {% endfor %}
        </div>
   </div><br>

{% endblock %}
