{% extends 'base.html' %}

{% block content %}
    <h2> {% block title %} {{ listing.item }} {% endblock %} </h2>
    <ul>
        <li> Description: {{ listing.description}} </li>
        <li> Date: {{ listing.occurdate }} </li>
        <li> Time: {{ listing.time }} </li>
        <li> Listed by: {{ listing.lister.name }}
        <li> Contact email: {{ listing.lister.email }}
        <li> Contact number: {{ listing.number }}
    </ul>
    {% if current_user.is_authenticated %}
        {% if current_user == listing.lister %}
        <a href="{{ url_for('item.edit', item_id=listing.id) }}">
            <span class="badge badge-warning">Edit</span>
        </a>
        {% endif %}
    {% endif %}
    <hr>
    
{% endblock %}
